<header class="m-3">
  <h1>multiverse.css</h1>
  <p>simple CSS library</p>
  <a class="py-1" href="#/docs/v1">Read the documentation</a>
  <p class="py-2">
    <code>
      &lt;<span class="text-red-500">link</span>
      <span class="text-orange-500">rel</span>=<span class="text-green-500"
        >"stylesheet"</span
      >
      <span class="text-orange-500">href</span>=<span class="text-green-500"
        >"https://mitlbp.github.io/multiverse.css/api/v1/multiverse.css"</span
      >
      /&gt;</code
    >
  </p>
</header>
